{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block body_block %}
    <div class="col-10 mr-auto ml-auto">
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <h6 class="mt-5">Are You Sure want to delete {{ object }}</h6>
            <div class="mt-3">
                <input class="btn btn-danger " type="submit" value="Confirm">
                <a class="btn btn-primary" href="{% url 'post_detail' pk=object.pk %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock body_block %}
    